.variations {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    gap: 25px;
}

.variations div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 8px 14px;
    border-radius: 50px;

    transition: 0.15s;
    cursor: pointer;
}
.variations div:hover {
    background: #FFAB08;
}
.variations div h6 {
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .variations {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .variations {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
    .variations {
        flex-wrap: wrap;
    }
}